* {
  margin: 0;
  padding: 0;
}

table {
  margin: 25px 30px 0px 30px;
  padding-bottom: 50px;
}

th,
td {
  padding: 10px 20px;
  font-size: 18px;
}

thead {
  background: rgba(255, 255, 255, 0.466);
}

tbody tr:nth-child(odd) {
  background: rgb(29, 27, 27);
  color: white;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.466);
}

nav {
  background: rgba(21, 21, 21, 0.8);
  padding: 35px 0px;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 5px;
  font-size: 20px;
}

nav a:hover {
  color: tomato;
}

hr {
  margin: 0px 75px;
}

footer {
  padding: 40px 0px;
  background: rgba(21, 21, 21, 0.8);
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 5px 5px;
  font-size: 18px;
}

footer a:hover {
  color: tomato;
}

footer p {
  color: grey;
  font-size: 18px;
  margin: 10px 0px;
}

.container {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  margin: 20px 0px;
}

.subtext {
  text-align: justify;
  margin: 0px 30px 0px 30px;
  font-size: 17px;
}

.our-menu {
  background: rgba(88, 87, 87, 0.15);
  margin-top: 30px;
  padding-top: 75px;
}

.price {
  color: rgba(39, 174, 96, 1);
  font-weight: bold;
}

.main-img {
  width: 100%;
  position: relative;
  z-index: -2;
}

.navbar-logo {
  width: 150px;
  position: fixed;
  top: 0;
  left: 100px;
}

.chat-img {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 65px;
  border-radius: 50%;
  padding: 9px;
  background: rgb(10, 181, 187);
}

.chef-img {
  margin-top: 30px;
}

.footer-text {
  position: relative;
  top: 20px;
}

.footer-logo {
  width: 150px;
  position: relative;
  top: 15px;
}

.main-title {
  color: white;
  font-size: 75px;
  text-align: center;
  margin: 10px 0px;
}

.main-text {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 10px 500px;
}

.main-title-position {
  position: absolute;
  top: 400px;
  width: 100%;
  z-index: -1;
}

/* media queries */
@media all and (max-width: 320px) {
  nav {
    padding: 10px;
  }

  nav a {
    font-size: 12px;
  }

  hr {
    margin: 0px 25px;
  }

  table {
    margin: auto;
    padding: 15px 5px;
  }

  th,
  td {
    padding: 2px 1px;
    font-size: 12px;
    text-align: center;
  }

  footer p {
    font-size: 12px;
  }

  footer a {
    font-size: 15px;
  }

  .chef-img {
    width: 250px;
  }

  .chat-img {
    z-index: 1;
    width: 50px;
    padding: 5px;
    bottom: 95px;
    right: 6px;
  }

  .main-img {
    height: 200px;
  }

  .main-title {
    font-size: 30px;
  }

  .main-text {
    font-size: 9px;
    margin: 10px 0px;
  }

  .main-title-position {
    top: 50px;
  }

  .navbar-logo {
    width: 60px;
    top: 2px;
    left: 5px;
  }
}

@media all and (min-width: 321px) and (max-width: 767px) {
  nav {
    padding: 20px;
    position: fixed;
  }

  nav a {
    font-size: 14px;
  }

  th,
  td {
    padding: 7px 5px;
    font-size: 15px;
    text-align: center;
  }

  table {
    margin: auto;
    padding: 30px 5px;
  }

  footer p {
    font-size: 16px;
  }

  .chef-img {
    width: 330px;
  }

  .chat-img {
    z-index: 1;
    width: 50px;
    padding: 5px;
    bottom: 100px;
    right: 20px;
  }

  .main-img {
    height: 400px;
    object-fit: cover;
  }

  .navbar-logo {
    width: 90px;
    top: 5px;
    left: 7px;
  }

  .main-title {
    font-size: 35px;
  }

  .main-text {
    font-size: 14px;
    margin: 10px 35px;
  }

  .main-title-position {
    top: 150px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .main-title {
    font-size: 55px;
  }

  .main-text {
    font-size: 30px;
    margin: 10px 0px;
  }

  .main-title-position {
    top: 160px;
  }

  .navbar-logo {
    width: 120px;
    top: 10px;
    left: 40px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .main-text {
    margin: 10px 130px;
  }

  .main-title-position {
    top: 200px;
  }
}

@media all and (min-width: 1201px) and (max-width: 1400px) {
  .main-text {
    margin: 10px 250px;
  }

  .main-title-position {
    top: 250px;
  }
}
